
#save-as {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 100;
    background: var(--color-selected-tab);
}

#sa-title {
    width: 100%;
    margin: 5px 0 10px;
    display: block;
    text-align: center;
}

#sa-column-left {
    float: left;
}

#sa-content>.column-right {
    margin-right: 10px;
}

#sa-filename-label, #sa-outdir-label, #sa-bookmark-label {
    margin: 0 7px 5px 7px;
    display: block;
}
#sa-filename, #sa-headline, #sa-bookmark, #sa-new-folder {
    width: 100%;
    margin-bottom: 2px;
    display: block;
}
#sa-headline {
    display: flex;
    justify-content: flex-end;
    padding-left: 3px;
    padding-right: 3px;
}
#sa-filename:focus, #sa-filename:hover, #sa-new-folder:focus, #sa-new-folder:hover {
    color: var(--color-hover);
    background: var(--color-hover-background);
}
#sa-filename:hover, #sa-new-folder:hover {
    cursor: text;
}
#sa-new-folder {
    min-width: 25px;
}

#sa-list-box {
    position: relative;
    height: var(--sa-dlg-list-height);
    display: block;
    border-top-color: var(--color-invalid);
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-color: var(--color-invalid);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#sa-list {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
#sa-list>button {
    width: 100%;
    display: block;
    text-align: left;
    padding: 1px 3px;
}
#sa-list>button:first-child {
    margin-top: 9px;
}
#sa-list>button:last-child {
    margin-bottom: 9px;
}

#sa-button-box {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    padding: 0 0 10px 0;
}
#sa-button-save, #sa-button-cancel {
    float: right;
    margin: 0 10px 0 15px;
}

.sa-blind {
    position: absolute;
    width: 100%;
    height: 10px;
    display: block;
    z-index: 110;
}

#sa-blind-top {
    top: 0;
    background: linear-gradient(to top, transparent, var(--color-selected-background));
}

#sa-blind-bottom {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, var(--color-selected-background));
}
