
html, body {
    width:100%;
    overflow: auto;
    color: var(--color-selected);
    background: var(--color-selected-background);
}

.flexLine {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

label:not(#op-version) {
    display: block;
    width: 250px;
    padding: 4px;
    margin: 5px 10px 0 0;
    text-align: right;
}

label[id=op-version-label]:after { content: "__MSG_OptionsAppVersion__"; }
label[for=op-preferred-resolution]:after { content: "__MSG_OptionsPreferredResolution__"; }
label[for=op-parallel-downloads]:after { content: "__MSG_OptionsParallelDownloads__"; }

