
:root {
    --total-width: 770px;
    --image-width: 178px;
    --image-room: calc(var(--total-width) - var(--image-width) - 30px);
    --radio-num: 6;

    --color-hover: #005aad; /* dark blue */
    --color-hover-background: whitesmoke;
    --color-unselected: black;
    --color-unselected-background: gainsboro;
    --color-selected: black;
    --color-selected-background: white;
    --color-invalid: silver;
    --color-invalid-background: transparent;
    --color-error: black;
    --color-error-background: pink;

    --color-progress: darkorange;
    --color-progress-background: dimgrey;
    --color-progress-done: lightgreen;

    --color-sniffer-background: ivory;
    --color-download-background: #e8f4ff; /* extremely light blue */
    --color-selected-tab: black; /* dummy, will be changed by script */

    --msg-tab-mark-warning: "⚠ ";
    --msg-tab-sniffer: "__MSG_Sniffer__";
    --msg-tab-download: "__MSG_Download__";
    --msg-tab-download-mark: "";
    --msg-button-download-purge: "__MSG_DownloadPurge__";

    --sa-dlg-list-height: 0;
}

html, body {
    width: var(--total-width);
    background: var(--color-selected-tab);
}

body{
    overflow-y: scroll;
}

html, body, div, input, button, select, option, textarea {
    font-size: 11pt;
    font-family: sans-serif;
}

#tabline {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

#tabline-background {
    width: 100%;
    height: 26px;
    background: var(--color-unselected-background);
}

/* Style tab links */
.tablink {
    padding: 5px;
    text-align: center;
    font-weight: lighter;
    color: var(--color-unselected);
    float: left;
    border: none;
    outline: none;
    width: calc((100% - 26px) / 2);
    height: 26px;
    overflow: hidden;
}

.tablink:not(:disabled):hover,
.flatButton:not(:disabled):hover,
.sn-detail-list input:not(:checked):hover + label {
    color: var(--color-hover);
    background: var(--color-hover-background);
    font-weight: normal;
    cursor: pointer;
}

#options { background: url("data/options.svg"); right: 0; }
#options:hover { background-position: center; }
#options:active { background-position: right; }

.graphic-switch {
    display: block;
    height: 24px;
    width: 24px;
    margin: 1px;
    position: absolute;
    cursor: pointer;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    height: 100%;
    width: 100%;
    color: var(--color-selected);
    display: none;
    padding: 0 10px;
}

#blind-top {
    position: relative;
    top: 0;
    width: 100%;
    height: 10px;
    display:block;
    z-index: 10;
    background: linear-gradient(to top, transparent, var(--color-selected-tab));
}

#blind-bottom {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 10px;
    display: block;
    z-index: 10;
    background: linear-gradient(to bottom, transparent, var(--color-selected-tab));
}

.sniffer span { display: none; }
.sniffer:after { content: var(--msg-tab-sniffer); }
#sniffer { color: var(--color-selected); background: var(--color-sniffer-background); }

.download span { display: none; }
.download:before { content: var(--msg-tab-download-mark); }
.download:after { content: var(--msg-tab-download); }
#download { color: var(--color-selected); background: var(--color-download-background); }

/*****************************************************************************/
/*   FLAT-BUTTONS                                                            */
/*****************************************************************************/

.flatButton {
    color: var(--color-selected);
    background: transparent;
    border: none;
    padding: 2px 3px;
    display: inline-block;
}

.flatButton:disabled {
    color: var(--color-invalid);
    background: var(--color-invalid-background);
}

.flatButton:not(:disabled):active {
    color: var(--color-hover-background);
    background: var(--color-hover);
    opacity: 0.33;
}

.sn-detail-list input[type="radio"] {
    display: none;
}

.sn-detail-list label {
    float: left;
    width: calc(var(--image-room) / var(--radio-num));
    display: block;
    text-align: center;
    font-weight: lighter;
    padding: 0.2em 0 .1em;
    color: var(--color-unselected);
    margin: 0;
}

.sn-detail-list input:checked + label {
    color: var(--color-selected);
    font-weight: normal;
    border-bottom: solid var(--color-selected) 2px;
}

/*****************************************************************************/
/*   COMMON                                                                  */
/*****************************************************************************/

.sn-detail-list {
    width: 100%;
}

.padded {
    display: inline;
    padding: 2px 3px;
}

.slim {
    padding-left: 0;
    padding-right: 0;
}

.column-right {
    overflow: hidden; /* Expands to remaining width */
}

/*****************************************************************************/
/*   SNIFFER                                                                 */
/*****************************************************************************/

.sn-item, .dl-item {
    width: 100%;
    margin-top: 5px;
    position: relative;
}
.sn-item:first-child, .dl-item:first-child {
    margin-top: 0;
}
.sn-item:not(:last-child), .dl-item {
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-invalid);
    border-bottom-width: 1px;
}

.sn-image-box, .dl-image-box {
    float: left;
    position: relative;
    width: var(--image-width);
    height: calc((var(--image-width) * 9) / 16);
    margin-right: 10px;
    background: var(--color-unselected);
}

.sn-item>.column-right, .dl-item>.column-right {
    position: relative;
    width:var(--image-room);
    height: calc((var(--image-width) * 9) / 16);
}

.sn-action-box, .dl-action-box {
    display: block;
    width:var(--image-room);
    position: absolute;
    bottom: 0;
    right: 0;
}

.sn-image, .dl-image, .dl-play {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transform: translate(-50%, -50%);
}

.dl-play {
    background: url("data/play.svg");
    object-fit: none;
    background-size: 65px;
    width: 65px;
    height: 65px;
    z-index: 8;
    display: none;
    cursor: pointer;
}

.sn-duration, .dl-duration {
    position: absolute;
    bottom: 0;
    right: 0;
    color: black;
    background: white;
    opacity: 0.67;
    padding: 0 2pt;
}

.sn-title, .dl-title, .dl-filename {
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dl-filename {
    direction: rtl;
    text-align: left;
}

.sn-action, .dl-action, .dl-state {
    float: right;
}

.dl-action {
    margin-left: 25px;
}

#dl-purge {
    float:right;
    margin-top: 5px;
}
#dl-purge:after { content: var(--msg-button-download-purge); }
