
:root {
    --total-width: 770px;
    --image-width: 178px;
    --image-room: calc(var(--total-width) - var(--image-width) - 30px);
    --radio-num: 6;

    --color-hover: #005aad; /* dark blue */
    --color-hover-background: whitesmoke;
    --color-unselected: black;
    --color-unselected-background: gainsboro;
    --color-selected: black;
    --color-selected-background: ivory;
    --color-invalid: silver;
    --color-invalid-background: transparent;
    --color-error: black;
    --color-error-background: pink;
    --color-done: black;
    --color-done-background: #c2f5c2; /* superlight green */

    --color-sniffer-background: ivory;
    --color-download-background: #e8f4ff; /* extremely light blue */
    --color-selected-tab: white;

    --msg-tab-mark-warning: "⚠ ";
    --msg-tab-sniffer: "__MSG_Sniffer__";
    --msg-tab-download: "__MSG_Download__";
    --msg-tab-download-mark: "";
    --msg-button-download-purge: "__MSG_DownloadPurge__";

    --sa-dlg-list-height: 0;
}

html, body {
    width: var(--total-width);
    background: var(--color-selected-tab);
}

body{
    overflow-y: scroll;
}

html, body, div, input, button, select, option, textarea {
    font-size: 11pt;
    font-family: sans-serif;
}

#tabline {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

#tabline-background {
    width: 100%;
    height: 26px;
    background: var(--color-unselected-background);
}

/* Style tab links */
.tablink {
    padding: 5px;
    text-align: center;
    font-weight: lighter;
    color: var(--color-unselected);
    float: left;
    border: none;
    outline: none;
    width: calc(50% - 26px);
    height: 26px;
    overflow: hidden;
}
.tablink:last-of-type {
    width: calc(50% - 26px);
}

@keyframes flash {
    0 {
        color: var(--color-unselected);
        background: transparent;
        opacity: 1;
    }
    30% {
        color: var(--color-hover-background);
        background: var(--color-hover);
        opacity: 0.57;
    }
    70%{
        color: var(--color-hover);
        background: var(--color-hover-background);
        opacity: 0.57;
    }
    100%{
        color: var(--color-unselected);
        background: transparent;
        opacity: 1;
    }
}
.flash {
    animation: flash 750ms 1 ease-in-out;
}

.tablink:not(:disabled):hover,
.flatButton:not(:disabled):hover,
.sn-detail-list input:not(:checked):hover + label {
    color: var(--color-hover);
    background: var(--color-hover-background);
    font-weight: normal;
    cursor: pointer;
}

#power { background: url("data/power.svg"); right: 0; }
#power:hover { background-position: center; }
#power:active { background-position: right; }

#options { background: url("data/options.svg"); right: 26px; }
#options:hover { background-position: center; }
#options:active { background-position: right; }

.graphic-switch {
    display: block;
    height: 24px;
    width: 24px;
    margin: 1px;
    position: absolute;
    cursor: pointer;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    height: 100%;
    width: 100%;
    color: var(--color-selected);
    display: none;
    padding: 0 10px;
}

#blind-top {
    position: relative;
    top: 0;
    width: 100%;
    height: 10px;
    display:block;
    z-index: 10;
    background: linear-gradient(to top, transparent, var(--color-selected-tab));
}

#blind-bottom {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 10px;
    display: block;
    z-index: 10;
    background: linear-gradient(to bottom, transparent, var(--color-selected-tab));
}

.sniffer span { display: none; }
.sniffer:after { content: var(--msg-tab-sniffer); }
#sniffer { color: var(--color-selected); background: var(--color-sniffer-background); }

.download span { display: none; }
.download:before { content: var(--msg-tab-download-mark); }
.download:after { content: var(--msg-tab-download); }
#download { color: var(--color-selected); background: var(--color-download-background); }

/*****************************************************************************/
/*   FLAT-BUTTONS                                                            */
/*****************************************************************************/

.flatButton {
    color: var(--color-selected);
    background: transparent;
    border: none;
    padding: 2px 3px;
    display: inline-block;
}

.flatButton:disabled {
    color: var(--color-invalid);
    background: var(--color-invalid-background);
}

.flatButton:not(:disabled):active {
    color: var(--color-hover-background);
    background: var(--color-hover);
    opacity: 0.33;
}

.sn-detail-list input[type="radio"] {
    display: none;
}

.sn-detail-list label {
    float: left;
    width: calc(var(--image-room) / var(--radio-num));
    display: block;
    text-align: center;
    font-weight: lighter;
    padding: 0.2em 0 .1em;
    color: var(--color-unselected);
    margin: 0;
}

.sn-detail-list input:checked + label {
    color: var(--color-selected);
    font-weight: normal;
    border-bottom: double var(--color-selected) 3px;
}

/*****************************************************************************/
/*   COMMON                                                                  */
/*****************************************************************************/

.sn-detail-list {
    width: 100%;
}

.row-separator {
    clear: both;
    width: 100%;
    height: 0;
}

.flexLine {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.padded {
    display: inline;
    padding: 2px 3px;
}

.slim {
    padding-left: 0;
    padding-right: 0;
}

.column-right {
    overflow: hidden; /* Expands to remaining width */
}

/*****************************************************************************/
/*   SNIFFER                                                                 */
/*****************************************************************************/

.sn-item, .dl-item {
    width: 100%;
    margin-top: 5px;
    position: relative;
}
.sn-item:first-child, .dl-item:first-child {
    margin-top: 0;
}
.sn-item:not(:last-child), .dl-item {
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-invalid);
    border-bottom-width: 1px;
}

.sn-item>.column-right, .dl-item>.column-right {
    width:var(--image-room);
}

.sn-image-box, .dl-image-box {
    float: left;
    position: relative;
    width: var(--image-width);
    height: calc(calc(var(--image-width) * 9) / 16);
    margin-right: 10px;
    background: var(--color-unselected);
}

.sn-action-box, .dl-action-box {
    display: block;
    width:var(--image-room);
    position: absolute;
    bottom: 0;
    right: 0;
}
.dl-action-box {
    bottom: 5px; /* WTF */
}

.sn-image, .dl-image, .dl-play {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transform: translate(-50%, -50%);
}

.dl-play {
    background: url("data/play.svg");
    object-fit: none;
    background-size: 65px;
    width: 65px;
    height: 65px;
    z-index: 8;
    display: none;
    cursor: pointer;
}

.sn-duration, .dl-duration {
    position: absolute;
    bottom: 0;
    right: 0;
    color: black;
    background: white;
    opacity: 0.67;
    padding: 0 2pt;
}

.sn-title, .dl-title, .dl-filename {
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dl-filename {
    direction: rtl;
    text-align: left;
}

.sn-action, .dl-action, .dl-state {
    float: right;
}

.dl-state {
    margin-right: 25px;
}

.dl-progress {
    width: 100%;
    height: 9px;
    margin-bottom: 4px;
}

#dl-purge {
    float:right;
    margin-top: 5px;
}
#dl-purge:after { content: var(--msg-button-download-purge); }

/*****************************************************************************/
/*   APP ERROR                                                               */
/*****************************************************************************/

#error {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    color: var(--color-error);
    background: var(--color-error-background);
}

#error-hint {
    margin: 10px;
    font-weight: bold;
}

.error-action {
    margin: 0px 7px;
}

#error-action-retry {
    background: var(--color-done-background);
}

/*****************************************************************************/
/*   SAVE AS DIALOG                                                          */
/*****************************************************************************/

#save-as {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 100;
    background: var(--color-selected-background);
}

#sa-title {
    width: 100%;
    margin: 5px 0 10px;
    display: block;
    text-align: center;
}

#sa-column-left {
    float: left;
}

#sa-content>.column-right {
    margin-right: 10px;
}

#sa-filename-label, #sa-outdir-label, #sa-bookmark-label {
    margin: 0 7px 5px 7px;
    display: block;
}
#sa-filename, #sa-headline, #sa-bookmark {
    width: 100%;
    margin-bottom: 2px;
    display: block;
}
#sa-headline {
    padding-left: 3px;
    padding-right: 3px;
}
#sa-filename:focus, #sa-filename:hover {
    color: var(--color-hover);
    background: var(--color-hover-background);
}
#sa-filename:hover {
    cursor: pointer;
}

#sa-list-box {
    position: relative;
    height: var(--sa-dlg-list-height);
    display: block;
    border-top-color: var(--color-invalid);
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-color: var(--color-invalid);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#sa-list {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
#sa-list>button {
    width: 100%;
    display: block;
    text-align: left;
    padding: 1px 3px;
}
#sa-list>button:first-child {
    margin-top: 9px;
}
#sa-list>button:last-child {
    margin-bottom: 9px;
}

#sa-button-box {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    padding: 0 0 10px 0;
}
#sa-button-save, #sa-button-cancel {
    float: right;
    margin: 0 10px 0 15px;
}

.sa-blind {
    position: absolute;
    width: 100%;
    height: 10px;
    display: block;
    z-index: 110;
}

#sa-blind-top {
    top: 0;
    background: linear-gradient(to top, transparent, var(--color-selected-background));
}

#sa-blind-bottom {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, var(--color-selected-background));
}
